<section id="portfolio" class="main-section">
    <div class="row">
        <div class="col-md-12">
            <h3 class="section-title text-center">Portfolio</h3>
        </div>
    </div>

    <div class="container">
        <div class="portfolio__project-wrapper row">
            {% for item in data.portfolio %}
                <div class="portfolio__project col-xs-12 col-sm-6 col-lg-4 text-center">
                        <div class="image portfolio__project__preview" style="background-image: url({{item.image}})"></div>
                        <div class="portfolio__project__description">
                            <div class="info-wrapper">
                                <h3 class="portfolio__project__name">{{ item.title }}</h3>
                                <p class="portfolio__project__category">{{ item.category }}</p>
                            </div>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
