{% if page.lang is defined %}
    {% set lang = page.lang %}
{% else %}
    {% set lang = "en" %}
{% endif %}

{% set portfolio = data.portfolio | filter(attribute="lang", value=lang) | first %}

<section class="w-full pt-32">
    <div>
        <h3 class="text-center text-3xl my-8">{{ portfolio.title }}</h3>
    </div>
    <div class="flex flex-col lg:flex-row justify-center items-center">
        {% for item in portfolio.items %}
            <div class="card card-compact w-96 p-4 m-4">
                <figure><a href="{{ item.link }}"><img src="{{item.image}}" /></a></figure>
                <div class="card-body">
                    <a href="{{ item.link }}"><h3 class="card-title">{{ item.title }}</h3></a>
                    <div class="badge badge-outline">{{ item.year }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
